:root{
    --primary-black:#1D1D1D;
    --primary-grey:#EAEAE8;
    --primary-white:#FFFFFF;
    --label-best-seller:#D9D6B0;
    --label-limited-edition:#D4B0D9;
    --font-size-small:16px;
    --font-size-medium:20px;
    --font-size-large:42px;
    --height-small:24px;
    --font-medium:500;
    --font-semi-bold:600;
    --font-bold:700;
    --font-extra-bold:800;
    --spacing-zero:0px;
    --spacing-small:12px;
    --spacing-medium:16px;
    --spacing-semi-medium:24px;
    --spacing-large:32px;
    --spacing-semi-large:42px;
  }
  *,
  *::after,
  *::before{
  box-sizing: border-box;
  }
  html {
    scroll-behavior: smooth;
  }
  body{
    margin:var(--spacing-zero);
    font-family: "Inter", sans-serif;
    padding:var(--spacing-zero) var(--spacing-semi-large);
  }