:root{
    --primary-black:#1D1D1D;
    --primary-grey:#EAEAE8;
    --primary-white:#FFFFFF;
    --label-best-seller:#D9D6B0;
    --label-limited-edition:#D4B0D9;
    --slider-hover-white:#F5F5F5;
    --font-size-small:16px;
    --font-size-semi:18px;
    --font-size-medium:20px;
    --font-size-bold:32px;
    --font-size-large:42px;
    --height-small:24px;
    --height-medium:50px;
    --height-large:72px;
    --font-medium:500;
    --font-semi-bold:600;
    --font-bold:700;
    --font-extra-bold:800;
    --spacing-zero:0px;
    --spacing-extra-small:4px;
    --spacing-triple-small:6px;
    --spacing-double-small:8px;
    --spacing-semi-small:10px;
    --spacing-small:12px;
    --spacing-medium:16px;
    --spacing-semi-medium:24px;
    --spacing-large:32px;
    --spacing-x-large:36px;
    --spacing-semi-large:42px;
    --spacing-extra-large:64px;
    --spacing-double-large:80px;
    --spacing-extra-double-large:88px;
    --spacing-triple-large:96px;
  }
  *,
  *::after,
  *::before{
  box-sizing: border-box;
  }
  html {
    scroll-behavior: smooth;
  }
  body{
    margin:var(--spacing-zero);
    font-family: "Inter", sans-serif;
    padding:var(--spacing-zero) var(--spacing-semi-large);
  }

  .wrapper{
    max-width: 1836px;
    margin:var(--spacing-zero) auto;
    display: flex;
  flex-direction: column;
  gap:var(--spacing-double-large);
  position: relative;
  overflow:hidden;
  }

  section{
    min-height: 100vh;
  
  }
   ul{
    list-style: none;
    margin: var(--spacing-zero);
    padding: var(--spacing-zero);
    color:var(--primary-black);
  }
 ul li a{
    text-decoration: none;
    color:var(--primary-black);
    cursor: pointer;
  }
  ul li a:hover{
    opacity: 0.8;
    background-color: var(--primary-grey);
  }
  
  .overlay{
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    left:0;
    right: 0;
    z-index: 200;
    background-color: #1D1D1DCC;
    opacity: 0;
    --webkit-transition:  1s ease-in-out;
    -moz-transition:1s ease-in-out;
      -o-transition: 1s ease-in-out;
         transition:background-color  1s ease-in-out;
  }
  .overlay.enabled {
    display: initial;
    opacity: 1  ;
  
  }
  

  /* header */
  header{
  background-color:var(--primary-white);
  min-height: 100vh;
  width: 100%;
  padding-top: 168px;
  }
  
  nav{
   padding:var(--spacing-large) var(--spacing-zero);
   text-transform: uppercase;
   font-size: var(--font-size-small);
    font-weight: var(--font-medium);
    height: 88px;
    position: fixed;
    top: var(--spacing-zero);
    width: 1836px;
    max-width: calc(100% - 84px);
    z-index: 100;
    margin:var(--spacing-zero) auto;
    box-sizing: border-box;
    background-color: var(--primary-white);
    cursor: pointer;
  }
  .side-menu-container{
    position: fixed;
    min-height: 100vh;
    top:var(--spacing-zero);
    right:-100%;
    background-color:var(--primary-white);
    z-index: 1000;
    display: flex;
    flex-direction: column;
    max-width:290px;
    width: calc(100% - 70px);
    gap:var(--spacing-double-large);
    padding: var(--spacing-zero) var(--spacing-medium) var(--spacing-zero) var(--spacing-large);
    transition:  1s ease-in-out;
    box-shadow: -5px 0 5px #1D1D1DCC;
    opacity: var(--spacing-zero);
    pointer-events: none;
  }
  
  
  .side-menu-container .nav-container{
    display: flex;
   margin:var(--spacing-semi-medium) var(--spacing-zero);
   height: var(--height-small);
  }
  .side-menu-container .nav-container .logo-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }
  .side-menu-container .nav-container .close-icon{
  display: flex;
  align-items: center;
  gap: var(--spacing-extra-small);
  }   
  .side-menu-container ul{
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    gap:var(--spacing-semi-medium);
  }
  .side-menu-container ul li a{
    text-transform: uppercase;
  }

  .nav-container{
    display: flex;
    justify-content:space-between;
    align-items: center;
    max-height: var(--height-small);
  }
     .logo-container{
    display: flex;
    align-items: center;
    gap:var(--spacing-large);
    
     }
  .logo{
    display: flex;
    max-height: var(--height-small);
    justify-content: space-between;
    align-items: center;
    gap:var(--spacing-small);
  }

 .top-logo{
  position: absolute;
  opacity: 0;
 }
 .top-logo:hover{
  opacity: 1;
 }
  nav ul{
    display: flex;
    gap:var(--spacing-semi-large);

  }

  nav .right{
    display: flex;
    gap:var(--spacing-small);
    color:var(--primary-black);
  }

  nav.mobile-nav{
    display: none;
  }
  
  
 /* hero section */
.hero-section{
    display: flex;
    flex-direction: column;
    gap:var(--spacing-semi-large);
  
  }
  .hero-section-logo{
    max-width: 60vw;
    height: 100%;
  }
  .hero-section-logo img{
    width: 100%;
  }
  .hero-section .hero-image{
  width: 100%;
  object-fit: cover;
  height: 732px;
  
  }


  /* products swiper section */
.products-section .wrapper{
  padding: var( --spacing-triple-large) var(  --spacing-zero);
  gap: var(  --spacing-semi-large);
 
}

.products-section  .products-title{
  height: 78px;
}
.products-section .products-title p{
  margin:  var( --spacing-zero);
  height:  var( --height-small);
  text-transform: uppercase;
}
.products-section .products-title h2{
  font-weight: var(--font-bold);
  font-size: var(--font-size-large);
 margin:var( --spacing-zero);
 height: var(--height-medium);
 margin-top:var( --spacing-extra-small);
}

.products-section .swiper{
  width: 100%;
  height: 100%;
  position: relative;
}
.products-slider .products{
  display: flex;
}
 .swiper-slide{
  overflow: hidden;
  opacity: 1;
  cursor: pointer;

 }
 .products .product:hover{
  opacity: 0.2;
}
.product-body{
  height: 441px;
  background-color: var(--primary-grey);
  border-radius:6px;
}
.product-body   h4{
  display: none;
  position: absolute;
 padding:var( --spacing-extra-small) var( --spacing-small);
 border-radius: 1000px;
 margin:var( --spacing-medium) var( --spacing-zero) var( --spacing-zero) var( --spacing-medium);
 text-transform: uppercase;
 font-weight: var(--font-medium);
}
.product-body .best-seller{
  display: block;
  background-color: var(--label-best-seller);
}

.product-body .limited-edition{
  display: block;
  background-color: var(--label-limited-edition);
}
.product-body  .fav-icon{
  position: absolute;
  right: var( --spacing-zero); 
  margin:var( --spacing-medium) var( --spacing-medium) var( --spacing-zero) var( --spacing-zero);
}
.fav-icon:hover{
  background-color: black;
  mask: url("images/Fill.svg") no-repeat center / contain;
  -webkit-mask: url("images/Fill.svg") no-repeat center / contain;
  }
.product-body .image-container{
  width:100%;
  height: 100%;
}
.product-body .slider-image{
  object-fit: cover;
  padding: 30px 30px 31px 31px;
  width:100%;
  height: 100%;
}

.product-details{
  margin-top:var( --spacing-semi-medium);
}
.product-details h3{
  margin:var( --spacing-zero);
  padding:var( --spacing-zero) var( --spacing-small);
  font-weight: var(--font-semi-bold);
  font-size: var(--font-size-medium);
}
.product-details p{
  margin:var( --spacing-zero);
  padding:var( --spacing-zero) var( --spacing-small);
  margin-top: var( --spacing-small);
}
.slider-nav{
  margin-top:var( --spacing-extra-large);
}

.products-section .slider-arrow{
   width: 72px;
   height: 72px;
   border-radius: 1000px;
   background-color:var(--primary-white);
   border: 1px solid var(--primary-grey);
   position: absolute;
   top:216px;
   right:var( --spacing-large);
   cursor: pointer;
   clip-path: fill-box;

}

.products-section .slider-arrow:hover{
  background-color:var(--slider-hover-white);
  opacity: 0.98;
}
.products .slider-arrow img{
  width: var( --spacing-semi-medium);
  height: var( --spacing-semi-medium);
  clip-path: fill-box;
}
.swiper-button-next::after{
  content: none !important;
}

.swiper .swiper-pagination-progressbar-fill{
  background-color:var(--primary-black);
  height: 1px;
}
.swiper-horizontal > .swiper-pagination-progressbar,
.swiper-pagination-progressbar.swiper-pagination-horizontal {
  top: inherit;
  bottom: 0;
  height: 1px;

}
/* Product list section */


.product-list-section .wrapper{
  gap:var(--spacing-extra-large); 
  padding:var(--spacing-semi-large)  var(--spacing-zero);
}
.product-list-section .headline{
  display: flex;
  align-items: center;
  justify-content: center;
}
.product-list-section .pagination{
  display: flex;
  min-width: 363px;
  align-items: center;
  gap:var(--spacing-semi-medium); 
  position: relative;
}
 .pagination-container{
  padding:var(--spacing-zero); 
  margin:var(--spacing-zero); 
  position: absolute;
  right:var(--spacing-zero); 
  top:var(--spacing-semi-medium); 
  list-style: none;
  width: 75px;
  text-align: center;
  opacity: 0;
  pointer-events: none;
}
.side-menu-container.display,.pagination-container.display{
  right: 0;
  opacity: 1;
  pointer-events: fill;
  background-color:var(--primary-white);
  border:1px solid #EAEAE8;
  border-radius: 6px;
}

.product-list-section .pagination ul li{
  margin-top: var(--spacing-triple-small); 
  
}
.product-list-section .pagination ul li:last-child{
  margin-bottom:  var(--spacing-triple-small); 
  
}
.product-list-section .pagination ul li a{
  font-size: var(--font-bold);
}
.product-list-section .number-dropdown{
  display: flex;
  min-width: 75px;
  align-items: center;
  gap:  var(--spacing-double-small); 
  align-items: center;
  padding:  var(--spacing-zero)  var(--spacing-small); 
}
.product-list-section  .pagination-text{
  min-width: 264px;
}
.product-list-section .number-dropdown .number{
  padding:1px 0px;
  font-size: var(--font-bold);
}
.product-list-section .products-list{
   display: grid;
   grid-template-columns: repeat(auto-fill,minmax(380px, 1fr));
   gap:var(--spacing-semi-medium); 
   grid-auto-flow:dense;
   
}
.list-product::before, .banner::before{
  content: "";
  animation: fade 2.5s infinite;
  opacity: 1;
}
@keyframes fade {
  0%{
     opacity: 0;
  }
  50%{
    opacity: 1;
  }
  100%{
    opacity: 0;
  }
}
.product-list-section .products-list .list-product{
  width: 100%;
  height: 100%;
  border-radius:var(--spacing-triple-small); 
  background-color: var(--primary-grey);
  grid-column: span 1;
  padding: var(--spacing-large); 

}

.product-list-section .products-list .banner{
 /* background-image: url("/images/BANNER.png");
 background-repeat: no-repeat;
 background-origin: content-box;
 background-position: center; */
 width: 100%;
 height: 100%;
 grid-column: span 2;
}
.banner img{
 width: 100%;
  border-radius: var(--spacing-triple-small); 
  opacity: 0;
  height: 100%;
  transition: opacity 2s ease-in-out;
  
}
.product-list-section .products-list .list-product > img{
  max-width: 100%;
 opacity:0;
 transition: opacity 2s ease-in-out;
}

.lazy-loading{
  filter: blur(10px); 
  min-height: 441px;

}

.active a, .pagination-list-active a, .side-list-active a{
  border-bottom: 1px solid #000000;
}
/* popup container */
.popup-container{
  position: fixed;
    top: 30%;
    left:30vw;
    max-width: 441px;
    background-color: var(--primary-grey);
    opacity:0;
    visibility: hidden;
    z-index:300;
    border-radius: var(--spacing-triple-small);

}
.popup {
  padding:var(--spacing-large);
  border-radius:var(--spacing-extra-small);
  position: relative;
   width: 100%;
   height: 100%;
  z-index:300;
}

.show{
  opacity:1;
  visibility: visible;
}

.popup #close {
  position: absolute;
  top: 5px;
  right: 1.5rem;
  background: transparent;
  font-size: 1.75rem;
  border:none;
  opacity:0.5;
}
.popup img{
  max-width:100%;
  height:100%;
}

.btn-group button{
  width:160px;
  padding:var(--spacing-semi-small);
  border:none;
  font-size:1rem;
  color:#fff;
  border-radius:3px;
  margin:5px 3px;
  text-transform: uppercase;
}
.btn-group .add{
  background: #4caf50;

}
.btn-group .delete  {
  background-color: red;
}

.popup #close:hover{
  opacity: 1;
  color:red;
}
.btn-group button:hover{
  opacity: 0.9;
}


/* for small screens */

@media screen and (max-width: 1150px) {
  section{
    min-height: unset;
  
  }
  .product-body .slider-image{
    padding: var(--spacing-medium);
  }
}

@media screen and (max-width: 1120px) {
  .logo-container{
    gap:unset;
  }
  .forma-text{
    display: none;
  }
}

@media screen and (max-width: 930px) {

  nav{
    display: none;
  }
  nav.mobile-nav{
    display: block;
    width: 100%;
  }
  nav.mobile-nav .menu-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:var(--spacing-double-small);
  }
  header{
    min-height: unset;
  }
 
  .products-section .wrapper{
    padding:var(--spacing-extra-double-large) var(--spacing-zero) var(--spacing-large) var(--spacing-zero);
  }
  .product-list-section .wrapper{
        padding:var(--spacing-extra-double-large)  var(--spacing-zero) var(--spacing-extra-large) var(--spacing-zero);
  }
 
  .product-body .slider-image{
    padding: var(--spacing-semi-medium) ;
  }
  .product-list-section .products-list{
    grid-template-columns: repeat(auto-fill,minmax(250px, 1fr));
    gap:var(--spacing-small);
 
  }
  .product-list-section .products-list .list-product{
    padding:var(--spacing-medium);
  }
  .product-details h3{
    font-size: var(--font-size-semi);
  }
  .lazy-loading{
    min-height: 380px;
  }
  .popup-container{
    max-width:380px;
      left:20%;

  }
  .popup{
    padding:var(--spacing-medium);
  }

}

@media screen and (max-width: 550px) {
  
  body{
    padding:var(--spacing-zero) var(--spacing-medium);  
  }
  nav{
    width:550px;
    max-width:calc(100% - var(--spacing-large));
  
  }
  section{
    min-height: unset;
  }
  .wrapper{
    gap:var(--spacing-extra-large);
  }
  .hero-section{
    gap:var(--spacing-semi-medium);
  }
   .hero-section .hero-image{
    height: 530px;
    content:url("/images/HERO_PHOTO_mobile.png");
    object-fit: unset;
  }

  .products-section .products-title h2{
  
    font-size:var(--font-size-bold);
  }
  .products-section .slider-arrow{
    width: var(--spacing-extra-large);
    height: var(--spacing-extra-large);
    top:40%;
    right:var( --spacing-large);
 
 }
  .slider-nav{
    margin-top:33px;
  }
  .product-list-section .products-list{
    grid-template-columns: repeat(auto-fill,minmax(158px, 1fr));
    gap:var(--spacing-small);
   
  }

  .product-body{
    height: auto;
  }
  .product-list-section .products-list .banner img{
    content:url("/images/BANNER_mobile.png");
 
  }
  .product-list-section .products-list .list-product{
    padding:var(--spacing-double-small);
  }
  
  .pagination{
    flex-direction: column;
  }
  .pagination-container.display{
    right:40%;
    top:70px;
  }
  .lazy-loading{
    min-height: 220px;
  }
  .popup-container{
    max-width:200px;
       left:20vw;
 
   }
   .popup{
     padding:var(--spacing-double-small);
   }
 
}